In [1]:
import pandas as pd

In [2]:
Rent = pd.read_excel('Data/statistic_id236541_per-capita-health-expenditure-in-selected-countries-2021.xlsx', sheet_name= 1)

In [3]:
Rent

    Unnamed: 0                                         Unnamed: 1  Unnamed: 2
0          NaN                                                NaN         NaN
1          NaN  Per capita health expenditure in selected coun...         NaN
2          NaN  Per capita health expenditure in selected coun...         NaN
3          NaN                                                NaN         NaN
4          NaN                                      United States     12318.1
5          NaN                                            Germany      7382.6
6          NaN                                        Switzerland      7178.6
7          NaN                                             Norway      7064.8
8          NaN                                        Netherlands      6752.8
9          NaN                                            Austria      6693.3
10         NaN                                            Denmark      6384.2
11         NaN                                             Sweden      6262.3
12         NaN                                             France      6114.9
13         NaN                                             Canada      5904.9
14         NaN                                            Ireland      5836.3
15         NaN                                         Luxembourg      5628.5
16         NaN                                          Australia      5627.3
17         NaN                                            Belgium      5407.0
18         NaN                                     United Kingdom      5387.2
19         NaN                                            Iceland      5096.4
20         NaN                                              Japan      4665.6
21         NaN                                            Finland      4604.6
22         NaN                                        New Zealand      4469.4
23         NaN                                              Malta      4154.1
24         NaN                                              Italy      4037.8
25         NaN                                              Korea      3913.7
26         NaN                                           Portugal      3816.4
27         NaN                                     Czech Republic      3805.1
28         NaN                                           Slovenia      3737.4
29         NaN                                              Spain      3718.1
30         NaN                                          Lithuania      3309.0
31         NaN                                             Israel      3057.4
32         NaN                                            Estonia      2989.1
33         NaN                                             Cyprus      2966.2
34         NaN                                              Chile      2608.0
35         NaN                                             Poland      2567.7
36         NaN                                             Greece      2486.1
37         NaN                                            Hungary      2402.0
38         NaN                                             Latvia      2227.9
39         NaN                                    Slovak Republic      2125.7
40         NaN                                           Bulgaria      2123.0
41         NaN                                            Croatia      2079.5
42         NaN                                            Romania      2051.6
43         NaN                                         Costa Rica      1617.8
44         NaN                                           Colombia      1335.9
45         NaN                                            TÃ¼rkiye      1304.7
46         NaN                                             Mexico      1226.7
47         NaN                                              China       894.4
48         NaN                                              India       230.7

In [4]:
Rent = Rent.drop(range(4))

In [5]:
Rent = Rent.drop(['Unnamed: 0'], axis =1)

In [8]:
Rent.columns = ['country', 'health_spending_per_capita']

In [9]:
Rent

            country  health_spending_per_capita
4     United States                     12318.1
5           Germany                      7382.6
6       Switzerland                      7178.6
7            Norway                      7064.8
8       Netherlands                      6752.8
9           Austria                      6693.3
10          Denmark                      6384.2
11           Sweden                      6262.3
12           France                      6114.9
13           Canada                      5904.9
14          Ireland                      5836.3
15       Luxembourg                      5628.5
16        Australia                      5627.3
17          Belgium                      5407.0
18   United Kingdom                      5387.2
19          Iceland                      5096.4
20            Japan                      4665.6
21          Finland                      4604.6
22      New Zealand                      4469.4
23            Malta                      4154.1
24            Italy                      4037.8
25            Korea                      3913.7
26         Portugal                      3816.4
27   Czech Republic                      3805.1
28         Slovenia                      3737.4
29            Spain                      3718.1
30        Lithuania                      3309.0
31           Israel                      3057.4
32          Estonia                      2989.1
33           Cyprus                      2966.2
34            Chile                      2608.0
35           Poland                      2567.7
36           Greece                      2486.1
37          Hungary                      2402.0
38           Latvia                      2227.9
39  Slovak Republic                      2125.7
40         Bulgaria                      2123.0
41          Croatia                      2079.5
42          Romania                      2051.6
43       Costa Rica                      1617.8
44         Colombia                      1335.9
45          TÃ¼rkiye                      1304.7
46           Mexico                      1226.7
47            China                       894.4
48            India                       230.7

In [10]:
import sqlalchemy

In [11]:
from sqlalchemy import engine

In [12]:
engine  = sqlalchemy.create_engine('postgresql://postgres:B3p1s0k.@localhost:5432/mydb')

In [14]:
Rent.to_sql('health_spending', engine, if_exists= 'replace', index = False)

45