In [1]:
import pandas as pd

In [4]:
IncomeData = pd.read_csv('Data/wiid-data(2).csv', delimiter = ';')

In [5]:
IncomeData

,ISO,COUNTRY,YEAR,GINI INDEX,"M-THEIL, GE(0)",DECILE 1 (MEAN INCOME),DECILE 2 (MEAN INCOME),DECILE 3 (MEAN INCOME),DECILE 4 (MEAN INCOME),DECILE 5 (MEAN INCOME),DECILE 6 (MEAN INCOME),DECILE 7 (MEAN INCOME),DECILE 8 (MEAN INCOME),DECILE 9 (MEAN INCOME),DECILE 10 (MEAN INCOME)
0,ABW,Aruba,2019,48.390,41.630,5454.43,10914.14,14617.70,18191.07,22390.68,27254.43,33465.66,42930.22,60561.31,144042.26
1,AFG,Afghanistan,2019,45.125,34.745,397.16,688.83,883.27,1059.10,1234.93,1464.54,1863.77,2411.93,3427.59,7219.25
2,AGO,Angola,2019,62.420,86.832,166.32,784.51,1422.75,2047.70,2872.10,3769.63,5032.82,6960.85,10378.12,33268.50
3,AIA,Anguilla,2019,48.390,41.630,3765.83,7535.30,10092.30,12559.42,15458.90,18816.91,23105.25,29639.74,41812.54,99449.18
4,ALB,Albania,2019,35.634,23.026,2878.66,5375.33,7217.12,8867.92,10546.01,12428.73,14638.89,17422.06,21965.16,35226.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,region_wb-latin_america_and_the_caribbean,Latin America and the Caribbean,2019,50.690,50.567,1413.45,3503.68,5346.72,7017.14,9115.83,11381.22,13902.34,18214.52,25360.59,59112.82
212,region_wb-middle_east_and_north_africa,Middle East and North Africa,2019,54.471,54.064,1704.29,3522.85,5067.06,6527.60,8052.39,9913.28,12444.20,16703.78,27322.18,69259.01
213,region_wb-north_america,North America,2019,40.787,30.032,10980.09,21471.17,28334.48,35016.98,42575.72,50777.02,60636.65,74311.45,97004.49,171298.44
214,region_wb-south_asia,South Asia,2019,51.449,48.143,756.99,1577.72,2141.14,2713.38,3369.71,4153.79,5232.11,6947.06,9973.53,23047.77
215,region_wb-sub_saharan_africa,Sub-Saharan Africa,2019,61.933,77.297,218.99,515.19,824.67,1187.20,1641.32,2210.70,2961.58,4057.70,6110.98,19195.07

In [8]:
IncomeData = IncomeData.drop(['ISO'], axis =1)

KeyError: "['ISO'] not found in axis"

In [9]:
import sqlalchemy

In [10]:
from sqlalchemy import engine

In [10]:
engine  = sqlalchemy.create_engine('postgresql://postgres:B3p1s0k.@localhost:5432/mydb')

In [11]:
IncomeData.to_sql('income_data', engine, if_exists= 'replace', index = False)

216