In [3]:
import pandas as pd

In [5]:
stateandlocal = pd.read_csv('Data/TABLE_I2_09072023011321643.csv')

In [6]:
stateandlocal

,COU,Country,LEVEL_GOV,Level of government,TAX_BASE,Tax base,SUBGOV_RATES,Sub-central tax rates,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,DNK,Denmark,S,S,TY,TY,MIN_RATE,Minimum sub-central rate,2000,2000,PC,Percentage,0,Units,NaN,NaN,11.0,NaN,NaN
1,DNK,Denmark,S,S,TY,TY,MIN_RATE,Minimum sub-central rate,2001,2001,PC,Percentage,0,Units,NaN,NaN,11.4,NaN,NaN
2,DNK,Denmark,S,S,TY,TY,MIN_RATE,Minimum sub-central rate,2002,2002,PC,Percentage,0,Units,NaN,NaN,12.0,NaN,NaN
3,DNK,Denmark,S,S,TY,TY,MIN_RATE,Minimum sub-central rate,2003,2003,PC,Percentage,0,Units,NaN,NaN,13.0,NaN,NaN
4,DNK,Denmark,S,S,TY,TY,MIN_RATE,Minimum sub-central rate,2004,2004,PC,Percentage,0,Units,NaN,NaN,12.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,USA,United States,L,L,TYS,TYs,MAX_RATE,Maximum sub-central rate,2003,2003,PC,Percentage,0,Units,NaN,NaN,0.0,NaN,NaN
727,USA,United States,L,L,TYS,TYs,MAX_RATE,Maximum sub-central rate,2004,2004,PC,Percentage,0,Units,NaN,NaN,0.0,NaN,NaN
728,USA,United States,L,L,TYS,TYs,MAX_RATE,Maximum sub-central rate,2005,2005,PC,Percentage,0,Units,NaN,NaN,0.0,NaN,NaN
729,USA,United States,L,L,TYS,TYs,MAX_RATE,Maximum sub-central rate,2006,2006,PC,Percentage,0,Units,NaN,NaN,0.0,NaN,NaN
730,USA,United States,L,L,TYS,TYs,MAX_RATE,Maximum sub-central rate,2007,2007,PC,Percentage,0,Units,NaN,NaN,0.0,NaN,NaN

In [7]:
stateandlocal = stateandlocal.drop(['COU',
        'LEVEL_GOV', 'TAX_BASE', 'SUBGOV_RATES','YEA',
       'Unit Code', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Flag Codes',
       'Flags'], axis =1)

In [9]:
stateandlocal[stateandlocal['Year'] == 2019]['Country'].unique()

array(['Denmark', 'Finland', 'Iceland ', 'Italy', 'Japan', 'Korea',
       'Norway', 'Sweden ', 'United States'], dtype=object)

In [10]:
import sqlalchemy

In [11]:
from sqlalchemy import engine

In [12]:
engine  = sqlalchemy.create_engine('postgresql://postgres:B3p1s0k.@localhost:5432/mydb')

In [13]:
stateandlocal.to_sql('state_local_tax_flat', engine, if_exists= 'replace', index = False)

731